/* || Base Styles */

html {
    font-family: "Roboto", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 20rem;
}

a {
    text-decoration: none;
    color: #000;
}

button, input, select {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin: 1rem 0;
    font-size: 1.25rem;
}

hr {
    border-top: none;
    border-color: #acacac;
    margin: 0;
}

/* || Banner */

.banner {
    background-image: url('sky-royalty-free.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.overlay-text {
    margin: 0;
    z-index: 1;
    line-height: 1.66;
}

.overlay-text.lower {
    font-size: 1.5rem;
}

.b-header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    width: 100%;
    background-color: #acacac;
    z-index: 2;
    transform: translateY(-100%);
    transition: 0.3s transform cubic-bezier(0.645, 0.045, 0.355, 1);
}

.sticky {
    transform: translateY(0);
}

.b-header form {
    width: 22.5rem;
    margin: 0 2rem;
}

/* || Content */

.wrapper {
    padding-top: 2.5rem;
}

.content {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 75rem;
    min-height: 60rem;
    padding: 1rem;
    border: 1px solid #acacac;
    border-radius: 2rem;
}

/* || Main Body */

.main-body {
    width: 63%;
}

.post-title {
    font-size: 1.75rem;
}

.pub-date {
    font-size: 1rem;
    font-weight: normal;
    color: #acacac;
}

.post-body {
    padding: 1rem 0;
}

.result-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* || Nav Panel */

.navigation-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2rem;
}

.navigation-panel form {
    margin-bottom: 1rem;
    width: 100%;
}

form > div {
    width: 100%;
}

form input {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-color: #acacac;
}

form input:focus {
    outline: 0;
    border-color: #000; 
}

form button {
    width: 8rem;
    border: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    background-color: #292929;
    text-transform: uppercase;
    cursor: pointer;
}

form button:hover, form button:focus {
    background-color: #3e3e3e;
}

/* || Post Tree */

.post-tree {
    width: 100%;
    margin: 0;
}

.navigation-panel h2 {
    padding: 0.5rem 0;
    border-bottom: 1px solid #acacac;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0.275rem 0;
    cursor: pointer;
}

li::before {
    content: '\25B6';
    margin-right: 0.5rem;
}

.years {
    padding: 0;
}

.year.reveal::before, .month.reveal::before {
    content: '\25BC';
}

.year.reveal .dates {
    display: none;
}

.dates li::before {
    content: none;
}

/* || Pagination */

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #acacac;
}

.pages-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0;
    width: 30rem;
    height: 100%;
}

.previous-posts, .next-posts {
    font-weight: bold;
}

.previous-posts {
    display: flex;
    justify-content: flex-start;
    width: 33%;
}

.next-posts {
    display: flex;
    justify-content: flex-end;
    width: 33%;
}

/* || Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

footer, .pagination {
    height: 5rem;
    width: 100%;
}

@media screen and (min-width: 30rem) {
    .overlay-text.lower {
        font-size: 2rem;
        line-height: 1;
    }

    .content {
        width: 90%;
    }
    
    .pages-nav {
        width: 20rem;
    }
}

@media screen and (min-width: 37.5rem) {
    .content {
        width: 80%;
    }

    .pages-nav {
        width: 37.5rem;
    }
}
