
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    background-image: url('bannertest.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.overlay-text {
    z-index: 1;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    padding-top: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 600px;
    margin-right: 600px;
}

.main-body {
    width: 900px;
}

.post-title {
    font-size: 25px;
    font-weight: bold;
}

.pub-date {
    color: #acacac;
}

.post-body {
    padding-top: 10px;
}

.result-title {
    font-size: 30px;
    font-weight: bold
}

.navigation-panel {
    width: 350px;
    margin-top: 20px;
}

.post-tree {
    margin-top: 30px;
}

.year.revealed .date {
    display: none;
}

ul {
    list-style-type: none;
}

li::before {
    content: '\25B6';
    margin-right: 5px;
}

li.revealed::before {
    content: '\25BC';
}

.no-bullet li::before,
.no-bullet li.revealed::before {
    content: none;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
}

.pages-nav {
    text-decoration: underline;
    margin-top: 0px;
}

.separator {
    padding: 5px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f1f1f1;
}
