{% extends 'main.html' %}

{% block main-body %}
    {% for post in paginated_posts %}
        <h2 class="post-title">
            <a href="{% url 'post_detail_view' post_id=post.post_id %}">{{ post.title|upper }}</a>
        </h2>
        <h3 class="pub-date">Posted on {{ post.pub_date|date:"d F Y" }} by {{ post.user.username }}</h3>
        <p class="post-body">{{ post.content }}</p>
        <hr>
    {% endfor %}
{% endblock %}

{% block pagination %}
    <div class="pages-nav">
        <div class="previous-posts">
            {% if paginated_posts.has_previous %}
                <a href="?page={{ paginated_posts.previous_page_number }}">Previous Posts</a>
            {% endif %}
        </div>
        <p>Page {{ paginated_posts.number }} of {{ paginated_posts.paginator.num_pages }}</p>
        <div class="next-posts">
            {% if paginated_posts.has_next %}
                <a href="?page={{ paginated_posts.next_page_number }}">Next Posts</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
