{% extends "main.html" %}

{% block main-body %}
    {% for post in paginated_posts %}
        <article class="blog-post">
            <header class="post-header">
                <h1 class="post-title">
                    <a href="{% url 'post_detail_view' year=post.pub_date.year month=post.pub_date.month|stringformat:'02d' slug=post.slug %}" class="title-link">
                        {{ post.title|upper }}
                    </a>
                </h1>
                <h2 class="pub-date">
                    Posted on {{ post.pub_date|date:"d F Y" }} by {{ post.user.username }}
                </h2>
            </header>
            <p class="post-body">{{ post.content }}</p>
            <footer></footer>
        </article>
    {% endfor %}
{% endblock %}

{% block pagination %}
    <section class="nav-pages">
        <span class="previous-set">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="link-previous">
                    <div class="post-dir">Previous Posts</div>
                </a>
            {% endif %}
        </span>
        <span class="page-count">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}
        </span>
        <span class="next-set">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="link-next">
                    <div class="post-dir">Next Posts</div>
                </a>
            {% endif %}
        </span>
    </section>
{% endblock %}
