<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DB's Blog</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </head>
    <body>
        <header class="b-header">
            <form method="get" action="{% url 'search' %}">
                {{ form }}
                <button type="submit">Search</button>
            </form>
        </header>
        <a href="{% url 'home' %}" class="banner">
            <h1 class="overlay-text">DB's Blog</h1>
            <p class="overlay-text">Just another portfolio blog</p>
        </a>
        <div class="wrapper">
            <div class="content">
                <div class="main-body">
                    {% block main-body %}
                    {% endblock %}
                </div>
                <div class="navigation-panel">
                    <h2>Search Blog</h2>
                    <form novalidate method="get" action="{% url 'search' %}">
                        {{ form }}
                        <button type="submit">Search</button>
                    </form>
                    <h2>Post Archive</h2>
                    <div class="post-tree">
                        {% block post-tree %}
                            {% include 'post_tree.html' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            {% block pagination %}
            {% endblock %}
        </div>
        <footer></footer>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>
